
<div class="container">
  <button type="button" class="btn btn-primary btn-lg btn-block">TODO LIST</button>
  <br/>
  <div class="row">
  <div class="col-10">
    <div class="form-group">
    <input [(ngModel)]="name" type="text" class="form-control" id="inputDefault">
    </div>
</div>
<div class="col-2">
  <button (click)="pushName()" type="button" class="btn btn-primary">ADD</button>
</div>
</div>
<br/><br/>

<div class="text-center">
<ul class="list-group list-unstyled">
  <li *ngFor="let n of names; let ind = index" class="list-group-item">
    <div class="row">
      <div class="col-10">
    <p class="text-left lead">{{n}}</p>
  </div>
  <div class="col-2">
    <button (click)="removeName(ind)" type="button" class="btn btn-primary btn-sm">Delete</button>
  </div>
  </div>

  </li>
</ul>
</div>
