<div class="container">


  <div class="row text-center">
      <a href="#" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#smallModal">Click to open Modal</a>
  </div>




<div class="modal fade" id="smallModal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="pushName()" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <h5>Enter your name: </h5>
        <input [(ngModel)]="name"/>
        <!--<button (click)="pushName()">Add</button>-->
      </div>

    </div>
  </div>
</div>
</div>
<div class="text-center">
  <ul class="list-unstyled">
    <li *ngFor="let n of names">
      <h5>{{n}}</h5>
    </li>
  </ul>
</div>

  <div class="text-center"><h3><a (click)="gotoLink()">Angular Documentation</a></h3></div>
  <!--<a target="_blank" routerLink="/profile">Profile</a>-->
